.wrapper
  .question-text #{question}
  .options
    .options-row
      button(type="button" id="option-0") #{answers[0]}
        .letterFrame
          .letter A
      button(type="button" id="option-1") #{answers[1]}
        .letterFrame
          .letter B
    .options-row
      button(type="button" id="option-2") #{answers[2]}
        .letterFrame
          .letter C
      button(type="button" id="option-3") #{answers[3]}
        .letterFrame
          .letter D